{% extends "app/common/frame.html" %}
{% load static %}
{% block title %} About - InspirAItion {% endblock title %}
{% block header %}
{% include "app/common/header.html" %}
{% endblock header %}

{% block content %}
<hr class="featurette-divider">

<div class="container marketing">
    <h1 class="fw-bolder"
        style="display: inline-block; border-bottom: 1px solid black; padding-bottom: 8px; margin-left: 20px; margin-bottom: 20px;">
        서비스 소개
    </h1>
    <div class="row">
        <div class="col-lg-4 service-column">
            <img class="bd-placeholder-img rounded-circle mb-2" width="140" height="140"
                src="{% static 'img/placeholder_1.jpg' %}" alt="Image Generation">
            <h2 class="fw-bolder">이미지 생성</h2>
            <div class="service-description">
                <p>당신의 순간의 영감을 예술작품으로 쉽게 만들고 갤러리에 전시하세요!</p>
            </div>
            <div class="service-btn-container">
                <a class="btn btn-primary service-btn" href="{% url 'create_post' %}">체험하기 <i
                        class="fas fa-arrow-right"></i></a>
            </div>
        </div>

        <div class="col-lg-4 service-column">
            <img class="bd-placeholder-img rounded-circle mb-2" width="140" height="140"
                src="{% static 'img/placeholder_2.jpg' %}" alt="Virtual Gallery Exhibition">
            <h2 class="fw-bolder">가상 갤러리</h2>
            <div class="service-description">
                <p>만든 이미지들은 테마별로 분류됩니다. 전체화면으로 자신의 작품을 감상하세요!</p>
            </div>
            <div class="service-btn-container">
                <a class="btn btn-primary service-btn" href="{% url 'fullscreen_gallery' %}">전시회 입장 <i
                        class="fas fa-arrow-right"></i></a>
            </div>
        </div>

        <div class="col-lg-4 service-column">
            <img class="bd-placeholder-img rounded-circle mb-2" width="140" height="140"
                src="{% static 'img/placeholder_3.jpg' %}" alt="Community Feature">
            <h2 class="fw-bolder">예술 커뮤니티</h2>
            <div class="service-description">
                <p>갤러리에서 서로 반응하고 작품을 거래하며 유저들과 소통하며 창작 활동을 즐기세요!</p>
            </div>
            <div class="service-btn-container">
                <a class="btn btn-primary service-btn" href="{% url 'public_gallery' %}">함께하기 <i
                        class="fas fa-arrow-right"></i></a>
            </div>
        </div>

    </div>

    <hr class="featurette-divider">

    <h1 class="fw-bolder"
        style="display: inline-block; border-bottom: 1px solid black; padding-bottom: 8px; margin-left: 20px; margin-bottom: 20px;">
        팀 소개
    </h1>


    <div class="container-team">
        <div class="container-team">
            <div class="row mb-2">
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary-emphasis">팀장</strong>
                            <h3 class="mb-0">윤경록</h3>
                            <p class="card-text">안정적이고 온화한 프로젝트 리더,
                                항상 긍정적인 자세로 팀을 이끕니다.
                            </p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="{% static 'img/person_1.jpg' %}" width="200" height="250" alt="경록님">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success-emphasis">웹파트 리더</strong>
                            <h3 class="mb-0">임대건</h3>
                            <p class="card-text">안정적이고 신뢰할 수 있는 리더,
                                항상 선제적으로 인프라를 준비하고 긍정적 자세로 임합니다.
                            </p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="{% static 'img/person_3.jpg' %}" width="200" height="250" alt="대건님">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary-emphasis">백엔드</strong>
                            <h3 class="mb-0">김수민</h3>
                            <p class="card-text">뛰어난 개발 실력과 열정을 가진 팀원입니다.
                            </p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="{% static 'img/person_4.jpg' %}" width="200" height="250" alt="수민님">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary-emphasis">프론트엔드</strong>
                            <h3 class="mb-0">이재이</h3>
                            <p class="card-text">끊임없이 도전하고 더 나은 결과를 위해 노력하는 열정적인 개발자입니다.</p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="{% static 'img/person_2.jpg' %}" width="200" height="250" alt="재이님">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary-emphasis">AI파트 리더</strong>
                            <h3 class="mb-0">이상민</h3>
                            <p class="card-text">예리하고 객관적인 분석력과 따뜻한 시선,
                                배려심을 겸비한 리더입니다.
                            </p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="{% static 'img/person_5.jpg' %}" width="200" height="250" alt="상민님">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary-emphasis">AI엔지니어</strong>
                            <h3 class="mb-0">윤봉현</h3>
                            <p class="card-text">객관적 분석력과 따뜻한 시선,
                                배려심을 겸비한 팀원입니다.
                            </p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="{% static 'img/person_6.jpg' %}" width="200" height="250" alt="봉현님">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary-emphasis">프롬프트엔지니어</strong>
                            <h3 class="mb-0">최태환</h3>
                            <p class="card-text mb-auto">자신의 강점을 적극 활용하고, 부족한 점은 객관적으로 분석하여
                                끊임없이 개선하려는 팀원입니다.
                            </p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="{% static 'img/person_7.jpg' %}" width="200" height="250" alt="태환님">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary-emphasis">마케팅</strong>
                            <h3 class="mb-0">이의현</h3>
                            <p class="card-text mb-auto">묵묵히 자신의 업무를 성실하게 수행하고,
                                부족한 부분에서도 배우려는 의지를 가진 팀원입니다.
                            </p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="{% static 'img/person_8.jpg' %}" width="200" height="250" alt="의현님">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% include "app/common/footer.html" %}
{% endblock footer %}